*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
}
 
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
 
header{
    height: 200px;
    padding: 20px 0;
}
 
.logo img{
    display:block;
    width: 100px;
    right: 50px;

}
.logo{
    position: relative;
    width: 50%;
    float: left;
    text-align: left;
    
}
 
.menu nav{
    padding-top: 30px;
    width: 100%;
    text-align: right;
}
 
.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    top: 20px;
 
}
 
section.sobre{
    height: calc ( 100% - 200px );
    position:relative;
}
 
.extras{
    position: fixed;
    bottom: -80px;
    right: -170px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color:#D10000;
}
 
.social-media{
    position: fixed;
    right: 10px;
    top:10px;
}

.social-media img{
    display:block;
    width: 50px;
}

.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 65px;
}

.texto-sobre p1{
    margin: 20px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    max-width: 800px;
    line-height:1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}


.extras2 img{
    position: fixed;
    bottom: 25px;
    right: -50px;
    border-radius: 50%;

}

.extras3 img{
    position: fixed;
    bottom: 200px;
    right: 160px;
    left: 1000px;
    border-radius: 50%;
}